<!DOCTYPE html>
{% load staticfiles %} <!--New Line-->
<html>
    <head>
        <title>Rango</title>
    </head> 
    <body>
        <h1>Rango says...</h1> 
        <div>
            hey there partner! <br />
            <!--<br/>意思是简单开启新的一行-->
            <strong>{{ boldmessage }}</strong><br />
        </div> 
        <!--<a>指的是索引，超链接-->
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/Rango.jpg' %}"
                 alt="Picture of Rango" /> <!--New Line-->
        </div>
    </body>
</html>